Body{
    background-color:#8391a3;
    font-family:Arial, Helvetica, sans-serif;
    color:#eae2dd;
}
h1{
    font-family:'Courier New', Courier, monospace;
    color:#eae2dd;
}
header>img{
    max-width:10%;
    max-height:10%;
    
}
header>nav{
    font-family:'Courier New', Courier, monospace;
    color:#8391a3;
    background-color:#eae2dd;
    justify-content: space-between;
    box-align:center;
}
.me{

}
p{

}
.gallery{

}
.info{

}
.images{

}
@media (min-width:800px){
}