Body{
    background-color:#8391a3;
    font-family:Arial, Helvetica, sans-serif;
    color:#eae2dd;
}
.me>h1{
    font-family:"Rokkitt", serif;
    color:#eae2dd;
    text-align: start;
    display:flex;
    font-weight: 2px;
    position:absolute;
    margin:7;
    bottom:0;
}
header>img{
    max-width:15%;
    max-height:15%;
    
}
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
header>nav{
    font-family:"Rokkitt", serif;
    color:#8391a3;
    background-color:#eae2dd;
    justify-content: space-between;
    box-align:center;
    padding:5%;
    margin-bottom:5%;
    text-decoration:none;
    padding-left:-30px;
    width:70%;
    height:17%;
    margin-top:3px;
}
nav a{
    margin:30px;
    text-align:center;
    font-size:12px;
}
nav a:hover{
    color:#c0bfcf;
    text-decoration:none;
}
nav a:visited{
    color:#8391a3;
}
nav a:active{
    color:#c9dfe5;
}
.me{
    background-color:#c0bfcf;
    width:325px;
    height:500px;
    position:relative;
}
.me>img{
    width:250px;
    height:auto;
    margin:20px;
}
p{
 text-align: center;
 font-size: 20px;
}
.gallery{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.gallery img{
    align-items: center, column;
    display:block;
   border-radius: 1rem;
    width:100%;
    height:auto;
}
.gallery figure{
    width:80%;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items:column, center;
    align-items: center;
}
.gallery figcaption{
    font-family:Arial, Helvetica, sans-serif;
    color: #eae2dd;
    margin-top:.5rem;
    font-size:.7rem;
}
h2{
   font-family:"Rokkitt", serif;
   color:#eae2dd;
    text-align:center;
}
.info{
    background-color:#eae2dd;
    display:inline-block;
    vertical-align:top;
    width:49%;
    box-sizing:border-box;
    font-family:"Rokkitt", serif;
}
.info .uwec{
    width:60%;
    height:auto;
}
.linkedin{
    width:30%;
    height:auto;
}
.email{
    width:30%;
    height:auto;
}
.info a{
    color:#8391a3;
}
.info a:hover{
    color:#c0bfcf;
    text-decoration:none;
}
.info a:visited{
    color:#8391a3;
}
.info a:active{
    color:#c9dfe5;
}
.contact{
    text-align:center;
    font-size:20px;
    margin-top:5%;

}
.contact a{
    margin:.5rem
}
.images{
    width:20rem;
    height:auto;
    display:flex;
    flex-direction: row;
    align-items:center;
}
.images img{
    margin:.5rem;
}
@media (min-width:700px){
    nav a{
        font-size:1.5rem;
        margin:85px;
    }
    .intro{
    display:flex;
    flex-direction: row;
    }
    p{
        font-size:30px;
        margin-top:4rem;
        margin-left: 2rem;
        margin-right:4rem;
        text-align: left;
    }
    .gallery{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        justify-content:center;
    }
    .gallery img{
        align-items: row;
        width:100%;
        height:auto;
        max-height:665px;
    }
    .images{
        margin-left:12.2rem;
    }
}